body{
    background-color: rgba(255, 0, 0, 0.8);
}
div{ 
    background-color: #7777;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    font-weight: 700;
    border: 2px dashed #ff00008e;
    cursor: pointer;
}
